@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  color: #242424;
  line-height: 1.3;
  font-weight: 400;
}
a:hover, a:focus {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #131212;
  font-weight: 400;
  font-size: 12px;
}
.single-products-catagory a::after {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(60, 60, 60, 0.7);
  z-index: 1;
  opacity: 0;
  visibility: visible;
}
.single-products-catagory:hover a::after, .single-products-catagory:focus a::after {
  opacity: 1;
  visibility: visible;
}
.single-products-catagory:hover .hover-content p, .single-products-catagory:hover .hover-content h4, .single-products-catagory:focus .hover-content p, .single-products-catagory:focus .hover-content h4 {
  color: #fff;
}
.search-wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 260px;
  z-index: 5000;
  top: -350px;
  left: 0;
  background-color: #f5f7fa;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.search-wrapper .search-close {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 12px;
  cursor: pointer;
  background-color: #fbb710;
}
.search-wrapper .search-content form {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
}
.search-wrapper .search-content form input {
  width: 100%;
  height: 60px;
  border: none;
  padding-left: 50px;
  font-size: 14px;
  color: #6b6b6b;
}
.search-wrapper .search-content form button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 50px;
  height: 60px;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}
.main-content-wrapper .header-area .cart-fav-search a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 0;
  color: #131212;
  line-height: 1;
  font-weight: 500;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .product-price {
  font-size: 24px;
  font-weight: 400;
  color: #fbb710;
  line-height: 1;
  margin-bottom: 10px;
}
.main-content-wrapper .single-product-area .single_product_desc .product-meta-data a h6 {
  font-size: 30px;
  margin-bottom: 5px;
}
.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .ratings-review .ratings i {
  font-size: 10px;
  color: #fbb710;
}
.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .avaibility i {
  color: #20d34a;
  font-size: 12px;
}
.main-content-wrapper .single-product-area .single_product_desc .cart p {
  margin-bottom: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #f5f7fa;
}
.main-content-wrapper .single-product-area .single_product_desc .cart .quantity {
  position: relative;
  z-index: 1;
}
.main-content-wrapper .single-product-area .single_product_desc .cart .quantity .qty-minus {
  position: absolute;
  top: 21px;
  right: 0;
  line-height: 1;
  width: 30px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  color: #959595;
}
.main-content-wrapper .single-product-area .single_product_desc .cart .quantity input {
  text-align: center;
  background-color: #f5f7fa;
  height: 40px;
  width: 100px;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  color: #959595;
}
.main-content-wrapper .single-product-area .single_product_desc .cart .quantity .qty-plus {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30px;
  width: 30px;
  text-align: center;
  height: 20px;
  cursor: pointer;
  color: #959595;
}
.main-content-wrapper .single-product-area .single_product_desc .cart .amado-btn {
  width: 310px;
  height: 80px;
  line-height: 80px;
}
.mb-50 {
  margin-bottom: 50px !important;
}
button.btn.amado-btn.mb-15 {
  min-width: 120px;
  height: 45px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 47px;
  background-color: #fbb710;
  margin-top: 15px;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.main-content-wrapper .header-area .amado-btn-group .amado-btn {
  width: 160px;
  display: block;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.header-area .amado-btn-group .amado-btn {
  
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px ;
  font-size: 18px ;
  line-height: 56px ;
  
  background-color: #fbb710 ;
  
}
.header-area .amado-btn-group .amado-btn.active, .amado-btn:hover, .amado-btn:focus {
  font-size: 18px;
  color: #ffffff;
  background-color: #131212;
}
img {
  height: auto;
  max-width: 100%;
}
 .header-area {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
  background-color: #fff;
  padding: 60px 75px;
}
.main-content-wrapper .header-area .nav-close {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 15px;
  background-color: red;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 12px;
  cursor: pointer;
  background-color: #fbb710;
  display: none;
}
.main-content-wrapper .header-area .logo {
  margin-bottom: 100px;
  display: block;
}
ul, ol {
  margin: 0;
}
ul li, ol li {
  list-style: none;
}
.main-content-wrapper .header-area .amado-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 20px 0;
  display: block;
  line-height: 0.9;
  color: #131212;
  font-weight: normal;
}
.main-content-wrapper .header-area .amado-nav li a::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: -150px;
  background-color: #fbb710;
  z-index: 10;
  content: '';
}
.main-content-wrapper .header-area .amado-nav li.active a::after {
  left: -75px;
}
.main-content-wrapper .header-area .amado-nav li a:hover, .main-content-wrapper .header-area .amado-nav li a:focus {
  color: #fbb710;
}
.main-content-wrapper .products-catagories-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 320px);
  flex: 0 0 calc(100% - 320px);
  width: calc(100% - 320px);
  max-width: calc(100% - 320px);
}
.single-products-catagory {
  position: relative;
  z-index: 1;
  
  top: 0;
 
}
 .search-content form input {
  width: 100%;
  height: 60px;
  border: none;
  padding-left: 50px;
  font-size: 14px;
  color: #6b6b6b;
}
.search-content form button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 50px;
  height: 60px;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}
.single-products-catagory .hover-content {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
  margin-bottom: 15px;
}
.search-nav.test {
  cursor: pointer;
}
.single-products-catagory .hover-content {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
}
.single-products-catagory .hover-content .line {
  width: 80px;
  height: 3px;
  background-color: #fbb710;
  display: block;
  margin-bottom: 15px;
}
button.btn.btn-primary {
  background-color: #fbb710 !important;
  border: #fbb710 !important;
  padding: 11px;
  width: 160px;
  padding-left: 0;
  position: relative;
  left: -7px;
}
.hover-content a {
  color: white;
  z-index: 9;
  position: relative;
}
.single-products-catagory .hover-content p {
  font-size: 16px;
  color: #6d6d6d;
  line-height: 1;
  margin-bottom: 5px;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.single-products-catagory .hover-content h4 {
  margin-bottom: 0;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.main-content-wrapper .cart-table-area {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(95% - 320px);
  flex: 0 0 calc(95% - 320px);
  width: calc(95% - 320px);
  max-width: calc(95% - 320px);
}
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-content-wrapper .cart-table-area table thead {
  width: 100%;
  display: block;
}
.main-content-wrapper .cart-table-area table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #f5f7fa;
}
.main-content-wrapper .cart-table-area table thead tr th {
  border-top: none;
  border-bottom: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
  font-size: 12px;
  color: #242424;
  text-transform: capitalize;
  font-weight: 400;
}
.main-content-wrapper .cart-table-area table tbody {
  width: 100%;
  display: block;
}
 .cart-summary {
  background-color: #f5f7fa;
  
  position: relative;
  z-index: 1;
  padding: 30px 20px;
}
 .cart-table-area .cart-summary h5 {
  font-size: 18px;
  margin-bottom: 0;
}
 .cart-table-area .cart-summary .summary-table {
  margin-top: 30px;
}
.amado-btn {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}
 .summary-table li span {
  color: #6b6b6b;
  font-size: 14px;
}
.summary-table li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.summary-table {
  margin-top: 30px;
  padding-left: 0;
}
.footer_area {
  position: relative;
  z-index: 0;
  background-color: #252525;
  padding: 80px 0;
  width: 100%;
}
.main-content-wrapper {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mr-50 {
  margin-right: 50px !important;
}
.footer-logo.mr-50 img {
  width: 30%;
}
.footer_area .single_widget_area .copywrite {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 10px;
}
.footer_area .single_widget_area .footer_menu {
  position: relative;
  z-index: 1;
  margin-left: auto;
}
.footer_area .single_widget_area .footer_menu .navbar-nav .nav-item.active .nav-link {
  color: #fbb710;
}
.footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.footer_area .single_widget_area .copywrite a {
  color: #fff;
}